.apartments {
  width: 801px;

  &__header {
    font-size: 54px;
    line-height: 55px;
    font-weight: bold;
  }

  &__flat-wrapper {
    display: flex;
    flex-direction: row;
    padding: 16px 24px 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__flat-description {
    display: flex;
    flex-direction: row;
    order: 2;
  }

  &__flat-name {
    font-size: 16px;
    line-height: 24px;
    margin: 0 19px;
    width: 281px;
  }

  &__flat-info {
    display: flex;
    flex-direction: row;
  }

  &__area {
    width: 140px;
  }

  &__area-m,
  &__floor,
  &__price-p {
    display: none;
  }

  &__floor-number,
  &__floors,
  &__price,
  &__area {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }

  &__floors {
    width: 140px;
  }

  &__floors-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ccc;
  }

  &__show-more {
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid rgba(11, 23, 57, 0.2);
    border-radius: 25px;
    margin-top: 43px;
    padding: 8px 24px;
    cursor: pointer;

    &:hover {
      color: $second-color;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .apartments {
    width: auto;

    &__flat {
      width: 52.6vw;
      margin-bottom: 3px;
    }

    &__flat-wrapper {
      padding: 16px 24px 10px 22px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__flat-description {
      flex-direction: column;
      order: none;
      width: 52.6vw;
    }

    &__flat-name {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      padding: 0;
    }

    &__flat-info {
      margin-top: 16px;
      padding: 0;
    }

    &__area-m,
    &__floor,
    &__price-p {
      display: block;
    }

    &__area {
      width: 50px;
      font-size: 14px;
      line-height: 20px;
      margin-right: 14px;
    }

    &__floor-number {
      font-size: 14px;
      line-height: 20px;
      margin-right: 4px;
    }

    &__floors-text {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #ccc;
    }

    &__floors {
      display: flex;
      flex-direction: row;
      width: auto;
      margin-right: 21px;
    }

    &__floor {
      margin-left: 5px;
    }

    &__price {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      line-height: 20px;
      width: 180px;
    }

    &__price-p {
      margin-left: 5px;
    }

    &__flat-pic {
      order: 2;
    }

    &__show-more {
      font-size: 15px;
      line-height: 22px;
      margin-top: 22px;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: 959px) {
  .apartments {
    width: auto;

    &__flat-wrapper {
      align-items: center;
      justify-content: flex-start;
      padding: 16px 0 20px 0;
    }

    &__flat-description {
      flex-direction: column;
      margin: 0 auto;
    }

    &__flat-name {
      width: auto;
      font-size: 14px;
      margin: 0 0 0 10px;
      padding: 0;
    }

    &__floor,
    &__price-p {
      display: block;
    }

    &__area,
    &__floor,
    &__floor-number,
    &__floors-text,
    &__price {
      font-size: 12px;
      font-weight: 400;
    }

    &__area,
    &__floors {
      width: auto;
    }

    &__area {
      margin-right: 5px;
    }

    &__price {
      display: flex;
      flex-direction: row;
    }

    &__floors,
    &__floors-text {
      display: flex;
      flex-direction: row;
    }

    &__floor {
      margin-left: 5px;
    }

    &__floors {
      margin-right: 5px;
    }

    &__floor-number {
      margin-right: 2px;
    }
  }
}