.apartments {
  &__header { 
    font-size: 54px;
    line-height: 55px;
    font-weight: bold;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 25px 10px 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__item {
    width: 52.6vw;
    margin-bottom: 3px;
  }

  &__item-name {
    font-size: 14px;
    line-height: 20px;
  }

  &__item-info {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  &__area,
  &__floor-number,
  &__price {
    font-weight: 600;
  }

  &__area,
  &__floors,
  &__price {
    margin-right: 20px;
  }

  &__floors {
    opacity: 0.5;
    margin-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .apartments {
    width: 801px;

    &__item {
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }

    &__item-wrapper {
      border: none;
      padding: 16px 25px 10px 0;
    }

    &__item-pic {
      width: 80px;
      order: 1;
    }

    &__item-description {
      display: block;
      order: 2;
    }
  }
}