.page-main {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 54px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    &__container {
      width: 1280px;
      margin: 0 auto;
      padding: 96px 0;
    }
  }
}